<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ismaelgwen.foodtruckfinder">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b7c6d04fd018c515c4d929542a86244b3a437b11" />
        <activity
            android:name=".MyFeed"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllTrucks"
            android:label="All Trucks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TruckDetail"
            android:label="Truck Detail"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
